%h3 我的需求
- if user_signed_in? and !current_user.needs.empty?
  = current_user.needs.first.budget
  - current_user.needs.first.merits.each do |m|
    = m.name
  - if current_user.needs.empty?
    = simple_form_for(@need) do |f|
      = f.error_notification
      .form-inputs
        = f.input :budget_min
        = f.input :budget_max
        = f.input :priority
      .form-actions
      = f.button :submit

  %h5 关注板块
  - current_user.favor_villages.each do |fv|
    = fv.village.name << "(" << fv.village.community.name << ")"

%h5 推荐板块
