%p#notice= notice
.row
  .span11
    %h3= @community.district.name << " - "<< @community.name
    %label.label
      动迁安置基地
      %i.icon-arrow-up
      12
      %i.icon-arrow-down
      3
    %label.label
      上涨预期明显
      %i.icon-arrow-up
      6
      %i.icon-arrow-down
      0
    %label.label
      地铁
      %i.icon-arrow-up
      100
      %i.icon-arrow-down
      3
    %label.label
      生态宜居
      %i.icon-arrow-up
      2
      %i.icon-arrow-down
      19
    .vote.pull-right
      %a.btn-link
        %i.icon-thumbs-up
        = "看好" << @community.name << "(20)"
      %a.btn-link
        %i.icon-thumbs-down
        不看好(10)
      %a.btn-link
        %i.icon-heart
        = "关注" << @community.name << "(200)"
      %span.muted
        30个人中有67%个看好这个板块
%br
.row
  .span3.bs-docs-sidebar
    %ul.nav.nav-list.bs-docs-sidenav.affix
      %li.active
        %a{:href=>"#basic"}
          %i.icon-chevron-right
          基本情况
      %li
        %a{:href=>"#planning"}
          %i.icon-chevron-right
          最新市政规划
      %li
        %a{:href=>"#swot"}
          %i.icon-chevron-right
          SWOT分析
      %li
        %a{:href=>"#village"}
          %i.icon-chevron-right
          推荐小区
      %li
        %a{:href=>"#reference"}
          %i.icon-chevron-right
          参考链接

  .span9
    %section#basic
      .page-header
        %h3 板块基本情况
      %p
        顾村镇（由原来的刘行镇与顾村镇合并而成）位于上海北部地区的城郊区宝山区中西部，东临杨行镇，南濒大场镇，西接嘉定区马陆镇，北靠罗店镇，总面积41.66平方公里，耕地面积688.4公顷。顾村地处外环，与宝山区政府距离约12公里，距离人民广场直线距离约16公里。最新统计数据显示，顾村镇人口在24万上下，占整个宝山区人口的12%左右，其中区域内40%左右是外来人口，而2009年的统计数据表明，超过50%以上人口是外来人口，显示该区域近年内涌入一批上海本土的置业者。顾村境内以工业和农业为主，但近年来随着上海市重点保障房基地的建设，一系列包括商品房、动迁房、公园、超市、轨道交通等配套设施开始建设，第三产业也逐步发展起来。总体来说，顾村属于新兴发展的城乡结合区域。

      %h5 板块定位
      %p
        顾村是上海市政府重点建设的动迁安置基地之一，这意味着不仅仅会安排大量市区动迁安置居民到当地，也意味着会安排三甲医院和优质教育资源以及轨道交通到当地。目前已经有著名的华山医院顾村分院在建，本地的顾村中学也是一个在宝山具有一定知名度的中学。与此同时，顾村（顾村公园）与吴淞工业区以及宝钢等三个地区是宝山新城三大组团，被宝山区政府定位于“最适宜居住地区”的绿色园林区域。因此，一些景色较好的商品房也沿着经过顾村的轨道7号线以及顾村公园周边地区建设起来。
    %section#planning
      .page-header
        %h3 最新市政规划
      %h6 整体规划
      %p
        根据规划，整体来说，顾村的发展将分为四大区域：
        沪太路以西约10平方公里的区域内形成中高档居住区；
        外环线蕰藻浜附近，形成7000亩的绿色生态林；
        沪太路以东，宝安公路南片4.6平方公里进行房地产开发；
        北片则以工业开发为主体的工业园区，规划建设成为以一、二类工业为主的综合性现代化工业园区。

      %h6 住宅规划
      %p
        顾村板块的房地产开发始于90年代初，包括著名的泰和新城等普通住宅。当地的住宅大规模开发始于2005年，上海市政府决定在全市多个保障房建设基地，顾村板块被分配了300万方的任务，因此，未来较长一段时间内，顾村仍是上海市保障房建设基地之一，将不断导入市区动拆迁人口。这块是保障房规划。而具体到商品房规划，宝山区政府决定依靠生态性的人居住环境，依托便捷的交通以及顾村公园的良好生态景观环境，形成环境优美，最适宜居住的住宅区域。这种定位一直不变，因此吸引了包括保利等诸多大型开发商进入该地区。
      %h6 商业规划
      %p
        由于动迁房的导入，配备了一些临街的店铺，虽然档次较低，但基本上涵盖了日常需求（比如以顾村公园为中心，往北，有美兰湖新开的大型超市；往东，有牡丹江路的易买得和地铁一号线边上的易初莲花；往西，有南翔的家乐福。）为此，规划建设一系列公园、综合体在内的商业，区域内正在建设的大型商业综合体包括绿地公园广场和绿地北郊广场，体量分别为23万方与20万方，分布在沪太路两侧。绿地公园广场为商业综合体，北郊广场为一站性购物广场。
        - @community.stations.each do |s|
          = s.name

      %h6 产业规划
      %p
        区域内有顾村工业园（园区位于宝山区顾村镇东北部，东与杨行镇接壤，南靠宝安公路，西临潘泾路，北到湄浦河，占地面积共3.63平方公里），产业以机械制造、汽车零部件、有色金属冶炼（主要以承接宝钢的产业链为主）、精密电子、服装加工等为主，这个园区本身和其他乡镇的工业园区无明显差别，但该园区在2012年年底被命名为“上海机器人产业园”，凸显了该园区的特色。
      %h6 交通规划
      %p
        区域内有地铁7号线、地铁1号线，可以换乘3、4、2号线，较为方便，但速度不快，此外还有公交宝山1线、宝山3线、701、702、963、527、528等路线（主要开往闸北和普陀和江苏太仓地区，到静安、黄埔、浦东则要依靠地铁），对外联络线路包括宝安公路、S20外环公路、沪太路、S106公路。根据规划，正在规划中的轨道交通15,17号线将经过顾村，并且规划待建S7（沪崇高速），正在建设S6（沪翔高速），都从顾村公园二期里面穿过，未来出行交通较为便利，因此宝山区已将顾村镇定位为枢纽型城镇。
      %h6 医疗规划
      %p
        该板块内医疗配套以社区服务中心为主，但根据规划，由于当地建设有大型保障房基地，必须建设三甲医院，因此华山医院分院（著名的三级甲等）在建中，一旦完工投入使用，建成后将大大改善板块的医疗设施.
      %h6 教育规划
      %p
        幼儿园，现在有顾村中心幼儿园，这是公立幼儿园，成立于1987年，比较有影响力；另外一家是荷露幼儿园（上海市宝山区顾北东路500弄19号），亦是公办幼儿园，其余基本则以民办幼儿园为主；宝山区顾村中心小学是一所当地重点小学，原来是当地重点农村小学；顾村中学是一所宝山区重点中学。未来规划中，根据上海市的统一安排，虹口区将对口支持顾村基地，虹口教育资源还是较为丰富的，有助于顾村教育资源的发展，因此规划中就将建设上外附中，这将极大地方便当地学生就近名校就读。
      %h6 休闲规划
      %p
        顾村公园是上海最大开放式休闲主题公园，这也是顾村板块继轨道交通之后的另一个卖点。规划占地422公顷的顾村公园是外环绿带的重要组成部分，其定位是集运动休闲、艺术展示、商业经营为主体的现代大型综合性公园。具体到尚无大型运动会所、公共大型游泳池等，是否有规划，尚未公布。但有民营的私人运动会所。

    %section#swot
      .page-header
        %h3 板块SWOT分析
      %h6 整体分析
      %p
        基于规划，未来发展可期，但面临着交通不便，配套不完善等挑战
      %h6 优势分析
      %p
        该地块仍然有不少土地可供开发，未来上涨预期明显；交通相对便利，有轨道交通，并且未来亦有轨道交通通车，出省交通也方便（S20)；环境优美，随着顾村公园的逐步建设，生态环境日趋宜人；大型开发商的入住提高了当地的商品房品质。
      %h6 劣势分析
      %p
        板块环境较差，整体配套缺乏，外来人口比重较高，人口复杂，整体区域品质较低（顾村公园周边除外）。

      %h6 机会分析
      %p
        板块发展速度较快，上海及宝山区对于该地区的规划较为完整，特色明显，依托顾村公园及后期整体配套的完善，整体区域品质将大幅度提高

      %h6 威胁分析
      %p
        大型保障房的导入，既为当地带来了诸多高端配套，但同时也整体拉低了当地的住宅品质；与此同时，短期内该地区尚无特别利好的规划；临近宝钢地区，存在一定的环境心理影响；周边的罗店新镇的快速崛起以及美兰湖地区的地产的快速开发也为该地区的发展带来了威胁。

    %section#village
      .page-header
        %h3 推荐小区
      %p
        %ul
          - @community.villages.each do |v|
            %li
              =v.name
              %a.btn-link
                %i.icon-thumbs-up
                (20)
              %a.btn-link
                %i.icon-thumbs-down
                (10)
        %a.btn-link
          推荐其他小区

      %h5 推荐新盘

    %section#reference
      .page-header
        %h3 推荐链接
      %p
        %ol
          %li
            %a{:href=>"http://gc.baoshan.sh.cn/", :class=>"btn-link"}
              顾村镇政府官方网站
          %li
            %a{:href=>"http://www.shbsgh.gov.cn/60/10/34/20089134806.html", :class=>"btn-link"}
              宝山区规划局关于顾村公园的公示
          %li
            %a{:href=>"http://bsq.sh.gov.cn/zwxx/zxbd/200905/t20090525_100480.html", :class=>"btn-link"}
              宝山区人民政府关于顾村公园的公示

